<GridLayout>
	<ScrollView>
		<StackLayout class="home-panel">
			<!--Add your page content here-->
			<Label textWrap="true" text="Edicion" class="h2 description-label"></Label>
			<Label textWrap="true" text="Write code in the editor or drag and drop components to build a NativeScript mobile application."
			 class="h2 description-label"></Label>
			<Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
			 class="h2 description-label"></Label>
			 <Button text="camara" (tap)="openCam()"></Button>
			 <Button text="lugar" (tap)="alerta()"></Button>
			 <Button text="boton de prueba" (tap)="elemento()"></Button>


		</StackLayout>
	</ScrollView>
</GridLayout>




